*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.modal{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: none;
    background: black;
}

.modal.show{
    display: flex;
    align-items: center;
    justify-content: center;

}
.content{
    max-width: 520px;
    padding: 20px 15px;
    background: white;
}
.content-title{
    margin-bottom: 25px;
}
.content-text > p + p{
    margin-top: 15px;
}
.content-text{
    margin-bottom: 20px;
}